<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>API Console Logs 🪵</title>
    <meta name="robots" content="noindex">
    <style>@media (prefers-color-scheme: dark) { body { background-color: #333; color: #fff; } } @media (max-width: 600px) { body { font-size: 0.7rem; } }
    </style>
</head>
<body style="font-family:monospace; padding: 0.5rem;">
    <pre style="text-wrap: auto; margin: 0">{{ logs | safe }}</pre>
    <script src="{{ url_for('static', path='/logs.js') }}"></script>
</body>
</html>
