<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Games</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="columnl">
            <h1>Selected Game</h1>
            {% for app in apps %}
            <div class="card">
                <img src="{{app.header_image}}" alt="Logo of {{app.name}}" class="game-image">
                <div class="game-info">
                    <h2 class="game-title">{{app.name}}</h2>
                    <p class="game-developer">Developed by <strong>{{app.developer}}</strong></p>
                    <p class="game-description">{{app.short_description}}</p>
                    <p class="game-price">{{app.price}}</p>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="columnr"><h1>Recommended Games</h1></div>
    </div>

    <style>
        img {
            border-radius: 10px;
        }
        body {
            background-image: url("{{apps[0].background_image}}");
            background-color: #1b2838;
            background-size: auto;
            background-position: center;
            background-attachment: fixed;
            color: white;
        }
    </style>

</body>
</html>