<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Games</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Recommended Games</h1>
    <div class="apps-container">
    {% for app in apps %}
    <div id="appid-{{app.id}}" class="app">
    <img src="{{app.header_image}}" alt="Logo of {{app.name}}">
    <h2 class="name">{{app.name}}</h2>
    <p class="developer">{{app.developer}}</p>
    <p class="short_description">{{app.short_description}}</p>
    <span class="price">{{app.price}}</span>
    {% endfor %}
    </div>
    </div>
    <style>
        img {
            border-radius: 10px;
        }
        body {
            background-image: url("{{apps[0].background_image}}");
            background-color: #1b2838;
            background-size: auto;
            background-position: center;
            background-attachment: fixed;
            color: white;
        }
    </style>
</body>
</html>