<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Recommender</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
        <h1>Game Recommender</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <div class="container">
            <div class="columnr">
                 <form action="/app_input" method="get">
                 <label for="game_input">Game:</label>
                 <input type="text" id="game_input" name="game_input" required>
                 <button type="submit">Search</button>
                 </form>
            </div>
        </div>
        {% if background_image %}
            <div class="overlay">
                <a href="/app_input?game_input={{ background_image.id }}">
                {{ background_image.name }}
                </a>
            </div>
            <style>
                body {
                    background-image: url("{{ background_image.background_image }}");
                    background-color: #1b2838;
                    background-size: cover;
                    background-position: center;
                    background-attachment: fixed;
                    color: white;
                }
            </style>
        {% endif %}
</body>
</html>