<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Tinder</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Game Tinder</h1>
    <form action="/app_input" method="get">
        <label for="game_input">Name:</label>
        <input type="text" id="game_input" name="game_input" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>