body {
    /*background-image: url('images/steam_bg.jpg');*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    background-color: cadetblue;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-size: 20px;
    font-family: "Motiva Sans", system-ui, Sans-serif;
    font-weight: 500;

}

h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}

.container {
    display: flex;
    gap: 10px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #0e263a;
    text-align: center;
    border-radius: 10px;
    opacity: 80%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnl {
    flex: 0 0 20%;
}

.columnr {
    flex: 1;
}


/*_____CARD_____*/
.card {
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #444;
}

.game-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.game-title {
    color: #444;
}

.game-info {
    padding: 15px;
}

.game-developer {
    font-size: 14px;
    color: #666;
}

.game-description {
    font-size: 14px;
    color: #444;
    margin: 10px 0;
}

.game-genres {
    font-size: 14px;
    color: #444;
    margin: 10px 0;
}

.game-price {
    font-size: 18px;
    font-weight: bold;
    color: #27ae60;
    margin-top: 10px;
}

/* Overlay for background image name */
.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    font-size: 15px;
    opacity: 0.8;
    border-top-left-radius: 10px;
}
.overlay a {
    color: white;
    text-decoration: none;
    transition: color 0.1s;
}
.overlay a:hover {
    color: #b4cfff;
}

body.nsfw::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(15px);
    z-index: -1;
    min-height: 100vh;
}

.nsfw img:hover{
    filter: blur(0) !important;
}

/* Easter Eggs */
body:has(#appid-3314060, #appid-391540) {
    font-family: "Comic Sans MS", cursive, system-ui, sans-serif;
}