:root {
    --font-size: 1rem;
    --font-size-heading: 2rem;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: cadetblue;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-size: 20px;
    font-family: "Motiva Sans", system-ui, Sans-serif;
    font-weight: 500;
}


/* Headers */
h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}


/* Containers */
.container {
    display: flex;
    gap: 10px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}


/* Columns */
.column {
    flex: 1;
    padding: 20px;
    background-color: #0e263a;
    text-align: center;
    border-radius: 10px;
    opacity: 80%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.selected_games:empty {
    display:none;
    background: none;
}

.columnl {
    flex: 0 0 30%;
}

.columnr {
    flex: 1;
}

/* Game Card */
.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #444;
}

/* Recommended Card */
.recommended-card {
    display: flex;
    width: 100%;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

.game-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.game-title {
    color: #444;
}

.game-info {
    padding: 15px;
}

.game-developer {
    font-size: 14px;
    color: #666;
}

.game-description {
    font-size: 14px;
    color: #444;
    margin: 10px 0;
}

.game-genres {
    font-size: 14px;
    color: #444;
    margin: 10px 0;
}

.game-genres a {
    color: #444;
    text-decoration: none;
    transition: color 0.3s;
}
.game-genres a:hover {
    color: #3498db;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.game-price {
    font-size: 18px;
    font-weight: bold;
    color: #27ae60;
    margin-top: 10px;
}
a.game-price:hover {
    color: #2ecc71;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
.recommended-columnl {
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommended-columnl img {
    height: 110px;
    width: fit-content;
    border-radius: 10px;
}


/* Overlay for background image name */
.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    font-size: 15px;
    opacity: 0.8;
    border-top-left-radius: 10px;
}

.overlay a, form a {
    color: white;
    text-decoration: none;
    transition: color 0.1s;
}
.overlay a:hover {
    color: #b4cfff;
}

body.nsfw::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(15px);
    z-index: -1;
    min-height: 100vh;
}

.nsfw img:hover{
    filter: blur(0) !important;
}

.p-relative {
    position: relative;
}

.clickable {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flex-align-start {
    align-items: flex-start;
}

.w-50 {
    width: 50%;

    @media (max-width: 768px) {
        width: initial;
    }
}

.removeButton {
    text-decoration: none;
    cursor: pointer;
    transition: font-size 0.5s;
    font-size: var(--font-size);
}
.removeButton:before {
    /* Create a white circle behind the prullenbak icon text */
    content: "🗑️";
    display: inline-block;
    position: relative;
    width: 2em;
    height: 2em;
    line-height: 2em;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: middle;
    z-index: -1;
}
.removeButton:hover {
    font-size: 1.5rem;
}
.selected_games div {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

/* Easter Eggs */
body:has(#appid-3314060, #appid-391540) {
    font-family: "Comic Sans MS", cursive, system-ui, sans-serif;
}
